<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #17b686;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/logo_kkn2.png" alt="logo_kkn" style="width: 50px; height: 50px; margin-left: 20px;"/>
        </a>
        <span style="color: #ffffff;">KKN Tim 90 - Kelompok 3</span>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Manfaat.html">Manfaat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Pembuatan.html">Pembuatan</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Program
                    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item disabled" href="#">Luaran KKN</a></li>
                    <li><a class="dropdown-item" href="booklet pembasmian hama.pdf">Booklet Pestisida Nabati</a></li>
                    <li><a class="dropdown-item" href="poster.html">Poster Pembasmian Hama</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- JS harus di bawah, dan bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>